<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 ">

    <div style="background-color: transparent;">
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-12" style="display: flex;">
                    <!-- <h6 class="mb-0">{{util.getString('Get connected with us on social networks!')}} </h6> -->
                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/1.png" alt="" title="">

                            </a>
                        </div>
                    </div>

                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/3.png" alt="" title="">

                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/4.png" alt="" title="">

                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/5.png" alt="" title="">

                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/6.png" alt="" title="">

                            </a>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="brand-item">
                            <a href="">

                                <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/files/1.png" alt="" title="">

                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <!-- <div class="col-md-6 col-lg-7 text-center text-md-right social_div"> -->

                    <!-- Facebook -->
                    <!-- <a class="fb-ic"> -->
                    <!-- <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                    </a> -->
                    <!-- Twitter -->
                    <!-- <a class="tw-ic"> -->
                    <!-- <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                    </a> -->
                    <!-- Google +-->
                    <!-- <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                    </a> -->
                    <!--Linkedin -->
                    <!-- <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                    </a> -->
                    <!--Instagram-->
                    <!-- <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                    </a> -->

                </div>
                <!-- Grid column -->

            </div>
            <div class="row" style="height: 20px;"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-title" style="color: gray;">
                        <h6 class="text-uppercase font-weight-bold footer_lbl">Asklol</h6>
                    </div>
                    <div class="contact-content" style="color: gray;">
                        <ul>
                            <li class="add list_add_call_email"><span>sajilO Online Pvt Ltd Is The Multipurpose Business Company</span></li>
                            <li class="call list_add_call_email"><span>+(977) 489-4026481</span></li>
                            <li class="email list_add_call_email"><span>info@sajiloonline.com</span></li>
                        </ul>
                    </div>
                    <div class="social-content" style="color: gray;">
                        <a href="https://www.facebook.com/shopify" title="Locamart #10 on Facebook" class="icon-social facebook"><i class="cs-icon icon-social-facebook"></i></a>
                        <a href="https://twitter.com/shopify" title="Locamart #10 on Twitter" class="icon-social twitter"><i class="cs-icon icon-social-twitter"></i></a>

                        <a href="https://www.pinterest.com/shopify" title="Locamart #10 on Pinterest" class="icon-social pinterest"><i class="cs-icon icon-social-pinterest"></i></a>
                        <a href="https://instagram.com/shopify" title="Locamart #10 on Instagram" class="icon-social instagram"><i class="cs-icon icon-social-instagram"></i></a>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="blog-layout">
                        <h5 class="footer-title" style="color: gray;">
                            Recent Posts
                        </h5>
                        <div class="blog-content">
                            <div class="article">
                                <div class="group-blog-left">
                                    <div class="top-banner article-image">
                                        <a href="/blogs/news/top-4-tips-to-handle-job-interviews-in-english-1">
                                            <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/articles/b7_100x_crop_center.jpg?v=1534911405" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="articleinfo_group">
                                    <div class="article-title" style="color: gray;">
                                        <h2 class="article-name">Top 4 tips to handle job interviews in English</h2>
                                    </div>
                                    <ul class="article-info">
                                        <li class="article-date" style="color: gray;">
                                            Aug 22, 2018
                                        </li>
                                        <li class="article-comment">
                                            <span>
                                  <a href="/blogs/news/top-4-tips-to-handle-job-interviews-in-english-1#comments">
                                    <span>0</span> Comment(s)
                                            </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="article">
                                <div class="group-blog-left" style="color: gray;">

                                    <div class="top-banner article-image">
                                        <a href="/blogs/news/top-4-tips-to-handle-job-interviews-in-english">
                                            <img src="//cdn.shopify.com/s/files/1/0078/7375/7243/articles/b6_100x_crop_center.jpg?v=1534911397" alt="">
                                        </a>
                                    </div>

                                </div>
                                <div class="articleinfo_group">
                                    <div class="article-title">
                                        <h2 class="article-name" style="color: gray;">Top 4 tips to handle job interviews in English</h2>
                                    </div>
                                    <ul class="article-info">
                                        <li class="article-date" style="color: gray;">
                                            Aug 22, 2018
                                        </li>
                                        <li class="article-comment" style="color: gray;">
                                            <span>
                                  <a href="">
                                    <span>0</span> Comment(s)
                                            </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h6 class="text-uppercase font-weight-bold footer_lbl" style="color: gray;">{{util.getString('Useful links')}} </h6>
                    <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                    <div class="flex_box" (click)="goToAccount()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Your Account')}} </a>
                    </div>
                    <div class="flex_box" (click)="goToPrivacy()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Privacy & Terms')}}
              </a>
                    </div>
                    <div class="flex_box" (click)="goToRefund()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Refund Policy')}}
              </a>
                    </div>
                    <div class="flex_box" (click)="about()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('About')}} </a>
                    </div>
                    <div class="flex_box" (click)="goToHelp()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Help')}} </a>
                    </div>
                    <div class="flex_box" (click)="goToContact()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Contact')}} </a>
                    </div>
                </div>
                <div class="col-lg-1">
                    <h6 class="text-uppercase font-weight-bold footer_lbl" style="color: grey;">{{util.getString('Services')}} </h6>
                    <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                    <div class="flex_box" (click)="goToHome()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Home')}} </a>
                    </div>

                    <div class="flex_box" (click)="goToOrders()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Orders')}} </a>
                    </div>
                    <div class="flex_box" (click)="util.publishCartBtn()">
                        <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Cart')}} </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="newsletter-content">
                        <h5 class="footer-title" style="color: gray;">Newsletter</h5>
                        <p class="newsletter-caption" style="color: gray;">
                            Subscribe to our newsletters and don’t miss new arrivals, the latest fashion updates and our promotions.
                        </p>
                        <div class="newsletter-form" style="color: gray;">
                            <form action="https://codespot.us5.list-manage.com/subscribe/post?u=ed73bc2d2f8ae97778246702e&amp;id=c63b4d644d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                <input type="email" class="form-control" value="" name="EMAIL" id="mail" placeholder="Your Email Address">
                                <button type="submit" class="_btn btn_newsletter_send" name="subscribe" id="subscribe">
                            Subscribe
                            <i class="fa fa-chevron-right"></i>
                          </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- <div class="col-md-6 col-lg-4 col-xl-3 mb-4"> -->

                <!-- Content -->
                <!-- <h6 class="text-uppercase font-weight-bold footer_lbl">Alipasal</h6> -->
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <!-- <p class="detail_content">Deliver an effortless alipasal shopping experience to all your customers. Give Your alipasal A New, Better And Convenient Alipasal Shopping. Totally Customizable. Best Pricing. Services: Android & IOS, Web Applications, Totally Customizable,
                          Customer App
                      </p> -->

                <!-- </div> -->
                <!-- Grid column -->

                <!-- Grid column -->
                <!-- <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mb-4"> -->

                <!-- Links -->
                <!-- <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Services')}} </h6> -->
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <!-- <div class="flex_box" (click)="goToHome()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Home')}} </a>
                      </div> -->

                <!-- <div class="flex_box" (click)="goToOrders()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Orders')}} </a>
                      </div>
                      <div class="flex_box" (click)="util.publishCartBtn()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Cart')}} </a>
                      </div> -->

                <!-- </div> -->
                <!-- Grid column -->

                <!-- Grid column -->
                <!-- <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mb-4"> -->

                <!-- Links -->
                <!-- <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Useful links')}} </h6> -->
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <!-- <div class="flex_box" (click)="goToAccount()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Your Account')}} </a>
                      </div>
                      <div class="flex_box" (click)="goToPrivacy()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Privacy & Terms')}}
                </a>
                      </div>
                      <div class="flex_box" (click)="goToRefund()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Refund Policy')}}
                </a>
                      </div> -->
                <!-- <div class="flex_box" (click)="about()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('About')}} </a>
                      </div>
                      <div class="flex_box" (click)="goToHelp()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Help')}} </a>
                      </div>
                      <div class="flex_box" (click)="goToContact()">
                          <mdb-icon fas icon="angle-right"></mdb-icon> <a class="dark-grey-text">{{util.getString('Contact')}} </a>
                      </div> -->

                <!-- </div> -->
                <!-- Grid column -->

                <!-- Grid column -->
                <!-- <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"> -->

                <!-- Links -->
                <!-- <h6 class="text-uppercase font-weight-bold footer_lbl">{{util.getString('Contact')}} </h6> -->
                <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                <!-- <div class="flex_box">
                          <mdb-icon fas icon="home"></mdb-icon>
                          <label>{{util.general && util.general.address ? util.general.address:'' }}</label>
                      </div>
                      <div class="flex_box">
                          <mdb-icon fas icon="envelope"></mdb-icon>
                          <label>{{util.general && util.general.email ? util.general.email:'' }}</label>
                      </div>
                      <div class="flex_box">
                          <mdb-icon fas icon="phone"></mdb-icon>
                          <label>+ {{util.general && util.general.mobile ? util.general.mobile:'' }}</label>
                      </div>
                      <div class="flex_box">
                          <mdb-icon fas icon="print"></mdb-icon>
                          <label for="">+ {{util.general && util.general.email ? util.general.email:'' }} </label>
                      </div> -->
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->

    <!-- Grid row -->

    <!-- Grid row -->


    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background: transparent;">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2" style="display: flex;">
                <p style="color: grey;">©{{year}} {{util.getString('Copyright')}}:</p>
                <a href="http://alipasal.com/" style="color: blue;"> Asklol.com</a>
            </div>
            <div class="col-lg-8" style="text-align: end;">
                <img src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/amazon-92e856f82cae5a564cd0f70457f11af4d58fa037cf6e5ab7adf76f6fd3b9cafe.svg" height="35" width="56" alt="amazon payments">
                <img src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg" height="35" width="56" alt="master">
                <img src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg" height="35" width="56" alt="paypal">
                <img src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" height="35" width="56" alt="visa">
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->