/*
Authors : matinsoftech
Website : https://www.matinsoftech.com/
*/

@media only screen and (min-width: 1200px) {
    .sliders {
        margin: 50px;
    }
}

.subcategoryList {
    width: 100%;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    margin-top: 15px;
}

.subcategoryList li:hover {
    border-left: 2px solid blue;
}

#sidebar-0 {
    background-color: #48aff9;
}

#sidebar-2 {
    background-color: #067780;
}

#sidebar-3 {
    background-color: #8f0f94;
}

#sidebar-1 {
    background-color: #2cb84a;
}

#sidebar-4 {
    background-color: #2843bb;
}

#sidebar-5 {
    background-color: #df6b28;
}

#sidebar-6 {
    background-color: #1a86d3;
}

#sidebar-7 {
    background-color: #30eb7e;
}

#sidebar-8 {
    background-color: #8e5fad;
}

#sidebar-9 {
    background-color: #be0a22;
}

#sidebar-10 {
    background-color: #7cc20d;
}

#sidebar-11 {
    background-color: #5191be;
}

#sidebar-12 {
    background-color: #6b5980;
}

#sidebar-13 {
    background-color: #ab59bb;
}

#sidebar-14 {
    background-color: #5c10e9;
}

#sidebar-15 {
    background-color: #36867b;
}

.subcategory_name {
    width: 100%;
}

.subcategory_item {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 27px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    background-color: #7ab1e7;
}

@media (max-width:375px) {
    .subcategory_item {
        width: 100% !important;
    }
    .subcategory_name {
        width: 100% !important;
    }
}

.shop_now {
    position: absolute;
    width: 15%;
    height: 15%;
    border: 1px solid white;
    font-size: 25px;
    color: white;
    /* float: right; */
    top: 170px;
    right: 10%;
    text-align: center;
}

@media (max-width:375px) {
    .shop_now {
        position: absolute;
        width: 15%;
        height: 15%;
        border: 1px solid white;
        font-size: 14px;
        color: white;
        /* float: right; */
        top: 170px;
        right: 10%;
        text-align: center;
    }
}

.Browser_now {
    position: absolute;
    width: 18%;
    height: 15%;
    border: 1px solid black;
    font-size: 25px;
    color: black;
    /* float: right; */
    font-weight: 400;
    top: 170px;
    right: 10%;
    text-align: center;
}

@media (max-width:1199px) {
    .Browser_now {
        position: absolute;
        width: 18% !important;
        font-weight: 400;
        height: 11%;
        border: 1px solid black;
        font-size: 21px;
        color: black;
        /* float: right; */
        top: 170px;
        right: 10%;
        text-align: center;
    }
}

@media (max-width:376px) {
    .Browser_now {
        position: absolute;
        width: 30% !important;
        height: 11%;
        font-weight: 400;
        border: 1px solid black;
        font-size: 15px !important;
        color: black;
        /* float: right; */
        top: 170px;
        right: 10%;
        text-align: center;
    }
}

.listItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //border: 1px solid lightgray;
    .top_cats {
        color: gray;
        border-bottom: 1px solid lightgray;
        // padding: 0px 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top_cats_top {
        color: gray;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
        // padding: 0px 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top_cats_bottom {
        color: gray;
        padding: 0px 5px;
        //border-bottom: 1px solid  lightgray;
    }
}

.topCates {
    display: flex;
    align-items: center;
    position: relative;
    // margin: 50px;
    .arrowBtnsL {
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        position: absolute;
        top: 35%;
        left: -15px;
        z-index: 999;
    }
    .arrowBtnsR {
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        position: absolute;
        top: 35%;
        right: -15px;
        z-index: 999;
    }
    .sliders {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        // padding: 16px 0px;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        overflow: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        // margin-top: -60px;
        height: 300px;
        .categoryIcon {
            padding: 20px 12px;
            text-align: center;
            width: 250px;
            display: flex;
            .imgs {
                // border-radius: 50%;
                padding: 5px;
                line-height: 80px;
                height: 130px;
                width: 130px;
                // box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                position: relative;
                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    -ms-transition: all 500ms ease;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                    opacity: 0;
                }
                .mask:hover {
                    opacity: 1;
                }
            }
            .icon {
                width: 100px;
                margin-top: 10px;
            }
            .icon:hover {
                background-color: grey;
                // height: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
            }
            .name {
                font-size: 13px;
                font-weight: bold;
                color: black;
                // margin: 10px 0px;
                white-space: pre-wrap;
            }
        }
        .boxBold:hover {
            .small_flex {
                display: block;
            }
        }
        .boxBold {
            // border: 1px solid lightgray;
            border-radius: 5px;
            box-shadow: 0px 0px 0px 0px grey;
            margin: 10px;
            display: flex;
            width: 390px;
            height: 195px;
            .image_div {
                height: 195px;
                width: 195px;
                min-width: 150px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin: 0px;
                cursor: pointer;
                .kind {
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }
                .percent {
                    position: absolute;
                    height: 30px;
                    width: 50px;
                    background: red;
                    left: 5px;
                    top: 2px;
                    line-height: 30px;
                    border-radius: 0%;
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    color: white;
                }
                .notInStoke {
                    background: #8373735c;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 90%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    // height: 50px;
                    // line-height: 50px;
                    .text {
                        border: 1px solid gray;
                        padding: 5px;
                        border-radius: 5px;
                        background: white;
                        color: gray;
                        font-size: 10px;
                    }
                }
            }
            .details {
                // padding: 5px 10px;
                text-align: left;
                margin: 0px;
                width: 195px;
                height: 195px;
                margin-top: 10%;
                .pro_name {
                    font-size: 12px;
                    color: gray;
                    margin: 0px;
                    font-weight: bold;
                    line-break: auto;
                }
                .itemsKind {
                    font-weight: 400;
                    font-size: 11px;
                    margin: 0px;
                }
                .variant {
                    .selecter {
                        font-size: 10px;
                        padding: 2px;
                        border: 1px solid lightgray;
                        margin: 10px 0px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: gray;
                        position: relative;
                        overflow: hidden;
                    }
                }
                .normalItem {
                    color: black;
                    padding: 5px 0px;
                    text-align: start;
                    cursor: pointer;
                }
                .normalItem:hover {
                    color: #157ed2;
                }
                .price_lbl {
                    font-weight: 400;
                    font-size: 11px;
                    margin: 0px;
                    font-weight: bold;
                    .original {
                        text-decoration: line-through;
                        font-size: 11px;
                        margin: 0px;
                    }
                    .sell {
                        font-weight: bold;
                        margin: 0px;
                    }
                    .dicount {
                        font-weight: bold;
                        font-size: 11px;
                        margin: 0px;
                    }
                }
                .small_flex {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    margin-top: 10px;
                    .btnBtm {
                        // display: flex;
                        // flex-direction: row-reverse;
                        // font-size: 15px;
                        text-align: center;
                        .ripple-parent {
                            position: relative;
                            overflow: hidden;
                            padding: 5px;
                            // border-style: solid;
                            border: 1px solid #157ed2;
                            color: #157ed2;
                            // background: #FF6969;
                            border-radius: 5px;
                            width: 75%;
                            font-size: 14px;
                        }
                        .shopping_heart {
                            width: 30%;
                            height: 36px;
                            border: 1px solid #157ed2;
                            color: #157ed2;
                            background-color: transparent;
                            border-radius: 5px;
                            text-align: center;
                            margin-left: 5px;
                        }
                        .shopping_heart:hover {
                            width: 30%;
                            height: 36px;
                            border: 1px solid #157ed2;
                            color: white;
                            background-color: #157ed2;
                            border-radius: 5px;
                            text-align: center;
                            margin-left: 5px;
                        }
                    }
                }
                .abs_add {
                    width: 100%;
                    background: #157ed2;
                    height: 30px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 3px;
                    padding-right: 3px;
                    margin: 0px;
                    p {
                        color: white;
                        font-size: 14px;
                        margin: 0px;
                    }
                    img {
                        color: #157ed2;
                        width: 25px;
                    }
                }
            }
        }
        .content_div {
            padding: 10px 0px;
            width: 100%;
            .card_div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
                position: relative;
                margin-bottom: 16px;
                border: 1px solid lightgray;
                margin-right: 10px;
                .offer_tag {
                    width: 35px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                }
                .off_lbl {
                    position: absolute;
                    width: min-content;
                    font-size: 9px;
                    top: 4px;
                    left: 8px;
                    text-align: center;
                    color: white;
                    z-index: 999;
                }
                .image_div {
                    height: 80px;
                    width: 80px;
                    min-width: 80px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    margin: 5px;
                    .kind {
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    .isOpen {
                        height: 30px;
                        width: 30px;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .desc_div {
                    text-align: right;
                    padding: 10px;
                    .pro_name {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }
                    .pro_detail {
                        font-size: 11px;
                        color: gray;
                        margin-bottom: 5px;
                    }
                    .price_lbl {
                        font-weight: 400;
                        font-size: 11px;
                        .original {
                            text-decoration: line-through;
                            font-size: 11px;
                        }
                        .sell {
                            font-weight: bold;
                        }
                        .dicount {
                            font-weight: bold;
                            font-size: 11px;
                        }
                    }
                    .small_flex {
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        .btnBtm {
                            display: flex;
                            flex-direction: row-reverse;
                            font-size: 12px;
                            .ripple-parent {
                                position: relative;
                                overflow: hidden;
                                padding: 5px;
                                color: white;
                                background: #48aff9;
                                border-radius: 5px;
                            }
                        }
                    }
                    .abs_add {
                        width: 100px;
                        background: var(--ion-color-primary);
                        height: 30px;
                        border-radius: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 3px;
                        padding-right: 3px;
                        ion-label {
                            color: white;
                            font-size: 14px;
                        }
                        img {
                            color: #FF8E80;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    .sliders::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.btmCates {
    .cateName {
        text-align: center;
        color: black;
        font-weight: 400;
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }
    .boxs {
        border: 2px solid #f1dea4;
        cursor: pointer;
        margin-bottom: 5px;
        .img_div {
            height: 100px;
            width: 100%;
            min-width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            margin: 5px;
        }
        .subName {
            text-align: center;
            font-size: 12px;
            margin: 0px;
            padding: 10px 0px;
            font-weight: 400;
        }
    }
}

.banners {
    .bannerImg {
        height: 440px;
    }
}

@media (max-width:475px) {
    .banners {
        .bannerImg {
            height: 150px!important;
        }
    }
}

@media (max-width:1020px) {
    .banners {
        .bannerImg {
            height: 330px;
        }
    }
}

@media (max-width:800px) {
    .banners {
        .bannerImg {
            height: 250px;
        }
    }
}

.shop_carosel_title {
    margin-top: 10px;
}

@media (max-width:475px) {
    .shop_carosel_title {
        margin-top: 0px;
    }
}

.categoryList_icon {
    width: 30px;
    height: 30px;
}

.category_link {
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}

.category_link:hover {
    border-left: 3px blue solid;
}

.cagegory_lists {
    width: 260px!important;
    left: -15px!important;
    margin-top: 130px!important;
    border: none!important;
    font-size: 12px!important;
    margin-left: -30px !important;
}

@media all and (max-width:1839px) {
    .cagegory_lists {
        width: 260px!important;
        left: -15px!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 11px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1880px) {
    .cagegory_lists {
        width: 260px!important;
        left: -15px!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 12px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1696px) {
    .cagegory_lists {
        width: 260px!important;
        left: -20%!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 10px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1560px) {
    .cagegory_lists {
        width: 260px!important;
        left: -6%!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 9px!important;
        margin-left: -30px !important;
    }
}

.cagegory_lists_home {
    width: 260px!important;
    left: -15px!important;
    margin-top: 130px!important;
    border: none!important;
    font-size: 12px!important;
    margin-left: -30px !important;
}

@media all and (max-width:1839px) {
    .cagegory_lists_home {
        width: 260px!important;
        left: -15px!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 11px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1880px) {
    .cagegory_lists_home {
        width: 260px!important;
        left: -15px!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 12px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1696px) {
    .cagegory_lists_home {
        width: 260px!important;
        left: -20%!important;
        margin-top: 130px!important;
        border: none!important;
        font-size: 10px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1568px) {
    .cagegory_lists_home {
        width: 260px!important;
        left: -6%!important;
        margin-top: 148px!important;
        border: none!important;
        font-size: 9px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1399px) {
    .cagegory_lists_home {
        width: 260px!important;
        left: -6%!important;
        margin-top: 157px!important;
        border: none!important;
        font-size: 9px!important;
        margin-left: -30px !important;
    }
}

@media all and (max-width:1024px) {
    .cagegory_lists_home {
        display: none!important;
        // width: 260px!important;
        // left: -6%!important;
        // margin-top: -28px!important;
        // border: none!important;
        // font-size: 9px!important;
        // margin-left: -30px !important;
    }
}

.title {
    text-align: center;
    font-weight: bold;
    color: #157ed2;
    margin-bottom: 10px !important;
}

.pop_cate {
    height: 60px;
    width: 60px;
}

// .row{
//   // padding: 20px;
//   .col-8{
//     padding: 5px;
//     border-bottom: 1px solid lightgray;
//     line-height: 1.2;
//   }
//   .col-4{
//     padding: 5px;
//     border-bottom: 1px solid lightgray;
//     text-align: center;
//   }
// }
.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.linkbtn {
    background: #157ed2;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    width: max-content;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 7px;
}

label {
    display: block;
    margin: 0;
}

.support_div {
    margin-top: 30px;
    margin-left: 80px;
    // border: 1px solid lightgray;
    // border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    .my_col {
        padding: 0px 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        // border-right: 1px solid lightgray;
        // justify-content: center;
        .icn_div {
            height: 55px;
            width: 55px;
            border-radius: 5px;
            border: 1px solid lightgray;
            position: relative;
            margin-right: 10px;
        }
        mdb-icon {
            font-size: 25px;
            color: #157ed2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .right_div {
            text-align: left;
        }
        .title_lbl {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            color: gray
        }
        .small_lbl {
            color: gray;
            margin: 0;
            font-size: 14px;
        }
    }
}

@media (max-width:576px) {
    .support_div {
        margin-top: 30px;
        margin-left: 0px!important;
        // border: 1px solid lightgray;
        // border-top: 1px solid lightgray;
        // border-bottom: 1px solid lightgray;
        .my_col {
            padding: 0px 10px;
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            // border-right: 1px solid lightgray;
            // justify-content: center;
            .icn_div {
                height: 55px;
                width: 55px;
                border-radius: 5px;
                border: 1px solid lightgray;
                position: relative;
                margin-right: 10px;
            }
            mdb-icon {
                font-size: 25px;
                color: #157ed2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .right_div {
                text-align: left;
            }
            .title_lbl {
                font-weight: 500;
                font-size: 16px;
                margin: 0;
                color: gray
            }
            .small_lbl {
                color: gray;
                margin: 0;
                font-size: 14px;
            }
        }
    }
}

.car_div {
    margin-top: 20px;
}

.header_div {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    .head_lbl {
        font-size: 35px;
        font-weight: 600;
    }
    .View_lbl {
        background: #157ed2;
        border-radius: 3px;
        padding: 5px 25px;
        color: white;
        font-size: 13px;
    }
}

.header_div2 {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .head_lbl {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }
}

.product_div {
    .pro_col {
        padding: 0px 15px;
        margin-top: 25px;
        .pro_div {
            padding: 10px;
            background: white;
            img {
                height: 230px;
                max-width: 100%;
                display: block;
                margin: auto;
            }
            mdb-icon {
                font-size: 20px;
                color: #157ed2;
                position: absolute;
                right: 30px;
                top: 10px;
            }
            .content_div {
                position: relative;
                padding: 10px;
                .pro_name {
                    font-weight: 400;
                }
                .price {
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
    .pro_div:hover {
        box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.3);
    }
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.back_div {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    label {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 30px;
        font-weight: 400;
        font-size: 24px;
        bottom: 15px;
    }
}

.back_div2 {
    width: 100%;
    height: 190px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    label {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 30px;
        font-weight: 400;
        font-size: 24px;
        bottom: 15px;
    }
}

.nothing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    .imgs {
        height: 100px;
        width: 100px;
    }
    .bolder {
        font-weight: bold;
    }
}

.catess {
    .cateName {
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        // background: #d0e3e3;
        padding: 5px;
        margin: 0px;
        margin-top: 10px;
    }
    .bgColor {
        background: ivory;
        border: 0.5px solid lightgray;
        // margin: 10px;
        .bg_img {
            height: 150px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            position: relative;
        }
        .subCateName {
            font-size: 10px;
            font-weight: bold;
            text-align: center;
        }
    }
}


/* iphone X , XS, 11 Pro */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .topCates {
        display: flex;
        align-items: center;
        position: relative;
        // margin: 50px;
        .arrowBtns {
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 50%;
            line-height: 25px;
        }
        .sliders {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 5px 0px;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            overflow: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            // margin: 50px;
            .categoryIcon {
                padding: 0px 10px;
                text-align: center;
                width: 120px;
                .imgs {
                    // border-radius: 50%;
                    padding: 5px;
                    line-height: 50px;
                    height: 50px;
                    width: 50px;
                    // box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                    position: relative;
                }
                .icon {
                    // height: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                }
                .name {
                    font-size: 10px;
                    font-weight: bold;
                    color: gray;
                    margin: 10px 0px;
                }
            }
        }
        .sliders::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    .banners {
        .bannerImg {
            height: 150px!important;
        }
    }
    .btmCates {
        .cateName {
            text-align: center;
            color: black;
            font-weight: 400;
            border-bottom: 1px solid lightgray;
            padding-bottom: 10px;
        }
        .boxs {
            border: 2px solid #f1dea4;
            cursor: pointer;
            margin-bottom: 5px;
            .img_div {
                height: 50px;
                width: 100%;
                min-width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                margin: 5px;
            }
            .subName {
                text-align: center;
                font-size: 10px;
                margin: 0px;
                padding: 10px 0px;
                font-weight: 400;
            }
        }
    }
}


/* iphone XR, 11 */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .topCates {
        display: flex;
        align-items: center;
        position: relative;
        // margin: 50px;
        .arrowBtns {
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 50%;
            line-height: 25px;
        }
        .sliders {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 5px 0px;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            overflow: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            // margin-top: -60px;
            .categoryIcon {
                padding: 0px 10px;
                text-align: center;
                .imgs {
                    // border-radius: 50%;
                    padding: 5px;
                    line-height: 50px;
                    height: 50px;
                    width: 50px;
                    // box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                    position: relative;
                }
                .icon {
                    // height: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                }
                .name {
                    font-size: 10px;
                    font-weight: bold;
                    color: gray;
                    margin: 10px 0px;
                }
            }
        }
        .sliders::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    .banners {
        .bannerImg {
            height: 150px;
        }
    }
    .btmCates {
        .cateName {
            text-align: center;
            color: black;
            font-weight: 400;
            border-bottom: 1px solid lightgray;
            padding-bottom: 10px;
        }
        .boxs {
            border: 2px solid #f1dea4;
            cursor: pointer;
            margin-bottom: 5px;
            .img_div {
                height: 50px;
                width: 100%;
                min-width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                margin: 5px;
            }
            .subName {
                text-align: center;
                font-size: 10px;
                margin: 0px;
                padding: 10px 0px;
                font-weight: 400;
            }
        }
    }
}


/* iphone XS Max, 11 Pro Max */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .topCates {
        display: flex;
        align-items: center;
        position: relative;
        .arrowBtns {
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 50%;
            line-height: 25px;
        }
        .sliders {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 5px 0px;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            overflow: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            .categoryIcon {
                padding: 0px 10px;
                text-align: center;
                .imgs {
                    // border-radius: 50%;
                    padding: 5px;
                    line-height: 50px;
                    height: 50px;
                    width: 50px;
                    // box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                    position: relative;
                }
                .icon {
                    // height: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                }
                .name {
                    font-size: 10px;
                    font-weight: bold;
                    color: gray;
                    margin: 10px 0px;
                }
            }
        }
        .sliders::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
    .banners {
        .bannerImg {
            height: 150px;
        }
    }
    .btmCates {
        .cateName {
            text-align: center;
            color: black;
            font-weight: 400;
            border-bottom: 1px solid lightgray;
            padding-bottom: 10px;
        }
        .boxs {
            border: 2px solid #f1dea4;
            cursor: pointer;
            margin-bottom: 5px;
            .img_div {
                height: 50px;
                width: 100%;
                min-width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                margin: 5px;
            }
            .subName {
                text-align: center;
                font-size: 10px;
                margin: 0px;
                padding: 10px 0px;
                font-weight: 400;
            }
        }
    }
}