<!--
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="container" style="display: flex;flex-direction: row;">
  <input class="form-control" type="text" (keydown.enter)="search($event.target.value)" [(ngModel)]="terms"
    [ngModelOptions]="{standalone: true}" [placeholder]="util.getString('Search for products')" aria-label="Search"
    class="searchText">
  <mdb-icon (click)="search(terms)" fas icon="search" style="padding: 10px;background: #f3f3f3;cursor: pointer;">
  </mdb-icon>
</div>

<div class="stack-top" *ngIf="products?.length && terms !==''">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-6">
        <div class="searchItem">
          <p *ngFor="let item of products" (click)="openProduct(item)">
            <img class="imgs" [src]="api.mediaURL+item.cover" alt="" onError="this.src='assets/imgs/user.png'">
            {{item.name}}
          </p>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-1"></div>
    </div>

  </div>
</div>
