<!--
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="container">

  <div class="row form_row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <div class="form_div">

        <div class="head_title">
          <label>{{util.getString('Reset Password')}} </label>
        </div>



        <div *ngIf="currentDiv === 1">
          <input type="email" [placeholder]="util.getString('Email')" [(ngModel)]="email" class="form-control">
          <button type="button" class="btn" (click)="sendOTP()">{{util.getString('Send OTP')}} </button>
        </div>

        <div *ngIf="currentDiv === 2">
          <input type="number" [placeholder]="util.getString('OTP')" [(ngModel)]="otp" class="form-control">
          <button type="button" class="btn" (click)="verifyOTP()">{{util.getString('Verify OTP')}} </button>
        </div>

        <div *ngIf="currentDiv === 3">
          <input type="password" [placeholder]="util.getString('New Password')" [(ngModel)]="password"
            class="form-control">
          <input type="password" [placeholder]="util.getString('Confirm Password')" [(ngModel)]="repass"
            class="form-control">

          <button type="button" class="btn" (click)="sendEmail()">{{util.getString('Reset Password')}} </button>
        </div>

        <hr>

        <label class="bottom_lbl" (click)="login()" *ngIf="!util.userInfo">{{util.getString('Login Back')}} </label>

      </div>

    </div>
    <div class="col-lg-4"></div>
  </div>

</div>
